$white: #fff;
$black: #000;

$border-gray: #acacac;
$border-gray-light: #c5c5c5;
$bg-gray: #f3f3f4;
$bg-gray-light: #fbfbfb;
$card-gray: #f0f6ff;
$text-black: #434343;
$text-gray: #9e9e9e;
$link-blue: #1696d3;

$blue: #5da5cc;
$blue-dark-flat: #5da5cc;
$blue-dark: #3188b7;
$blue-light: $blue-dark;

$green: #00c177;

$red: #a73c3c;

$yellow: #d6e350;
$seafoam: #50e3c2;

$button-green: #c2e2c2;
$button-gray: #f9f9f9;

$error: #f60c31;
$warning: #ffa40d;
$success: #0ac299;
