@import 'colors';

$font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;

$card-shadow: 0 2px 5px 2px rgba(#bfbfbf, 0.5);

%clear {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

%button {
    min-width: 120px;
    background: $blue-light;
    border: 0;
    color: $white;
    cursor: pointer;
    padding: 8px 15px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background: $blue;
    }
}

%input {
    min-width: 200px;
    max-width: 100%;

    background: none;
    border: 1px solid $border-gray-light;
    border-radius: 2px;
    box-shadow: none;
    color: $text-gray;
    font-family: $font-family;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px;
    transition: border-color 0.2s ease-in-out;
    appearance: none;
    appearance: none;
    appearance: none;

    &:focus {
        border-color: $blue-light;
        outline: none;
    }

    &.HasError {
        background-color: lighten($error, 45%);
        border-color: $error;
    }
}

%login-form {
    width: 500px;
    max-width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 60px rgba($black, 0.2);
    margin-left: 50%;
    margin-left: 50%;
    padding: 50px;
    transform: translate(-50%, -50%);
}
