.Button {
    background: $blue;
    border: 0;
    border-radius: 0;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    padding: 1rem 3rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    & + .Button {
        margin-left: 1.5rem;
    }

    &--Action {
        background: $green;
    }

    &--Text {
        background: transparent;
        color: $text-black;

        &:hover {
            background: $blue-dark-flat;
            color: $white;
        }
    }

    &--Icon {
        background: transparent;
        color: $blue;
        font-size: 1.6rem;
        padding: 2rem 0;

        .fa {
            padding-right: 0.5rem;
        }

        &:hover {
            background: transparent !important;
            color: $blue-dark;
        }
    }

    &:hover {
        background: $blue-dark;
    }

    &:focus {
        outline: none;
    }
}

.ButtonGroup {
    &--Right {
        float: right;

        .Button {
            margin-left: 1.5rem;
        }
    }
}
