<div class="row" *ngIf="flightInfo">
    <div class="col-12">
        <div class="card">
            <div class="card-body m-sm-3 m-md-5">
                <div class="mb-4">
                    Hello <strong>Test User</strong>,
                    <br> This is the confirmation receipt for the travel date {{ formatDate(flightInfo.get('arrivalDate')) || null }} with {{ flightInfo.get('airline') }} flight number {{ flightInfo.get('flightNumber') }}.
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="text-muted">Confirmation No.</div>
                        <strong>741037024</strong>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <div class="text-muted">Scheduled Date</div>
                        <strong></strong>
                    </div>
                </div>

                <hr class="my-4">

                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="text-muted">Client</div>
                        <strong>
                            Chris Wood
                        </strong>
                        <p>
                            4183 Forest Avenue <br> New York City <br> 10011 <br> USA <br>
                            <a href="#">
                                chris.wood@gmail.com
                            </a>
                        </p>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <div class="text-muted">Payment To</div>
                        <strong>
                            AppStack LLC
                        </strong>
                        <p>
                            354 Roy Alley <br> Denver <br> 80202 <br> USA <br>
                            <a href="#">
                                info@appstack.com
                            </a>
                        </p>
                    </div>
                </div>

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th class="text-end">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Resvervation Custom Package</td>
                            <td>2</td>
                            <td class="text-end">$150.00</td>
                        </tr>
                        <tr>
                            <td>Inclusive dining Subscription </td>
                            <td>3</td>
                            <td class="text-end">$25.00</td>
                        </tr>
                        <tr>
                            <td>Additional Service</td>
                            <td>1</td>
                            <td class="text-end">$100.00</td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Subtotal </th>
                            <th class="text-end">$275.00</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Reservation Expense </th>
                            <th class="text-end">$8.00</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Member Discount </th>
                            <th class="text-end">5%</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Total </th>
                            <th class="text-end">$268.85</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>