<div class="FlightsContent">
    <div id="container">
        <div id="header">
            <div id="branding">
                <h1 id="site-name">{{ 'flights.FLIGHT_INFO' | translate }}</h1>
            </div>
        </div>
        <div class="col-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <!-- <h5 class="card-title">{{ 'flights.FLIGHT_SUBMISSION_FORM' | translate }}</h5> -->
                    <h6 class="card-subtitle text-muted">{{ 'flights.FLIGHT_SUBMISSION_FORM' | translate }}</h6>
                </div>
                <div class="card-body">
                    <form [formGroup]="flightsForm">
                        <div class="mb-3">
                            <label class="form-label">{{ 'flights.AIRLINE' | translate }}</label>
                            <input type="text" [formControl]="airlineInput" class="form-control" placeholder="{{ 'flights.AIRLINE' | translate }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{{ 'flights.ARRIVAL_DATE' | translate }}</label>
                            <input type="text" [formControl]="arrivalDate" class="form-control" placeholder="{{ 'flights.ARRIVAL_DATE' | translate }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{{ 'flights.ARRIVAL_TIME' | translate }}</label>
                            <input type="text" [formControl]="arrivalTime" class="form-control" placeholder="{{ 'flights.ARRIVAL_TIME' | translate }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{{ 'flights.FLIGHT_NUMBER' | translate }}</label>
                            <input type="text" [formControl]="flightNumber" class="form-control" placeholder="{{ 'flights.FLIGHT_NUMBER' | translate }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{{ 'flights.NUMBER_OF_GUESTS' | translate }}</label>
                            <input type="text" [formControl]="guests" class="form-control" placeholder="{{ 'flights.NUMBER_OF_GUESTS' | translate }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{{ 'flights.COMMENTS' | translate }}</label>
                            <textarea [formControl]="comments" class="form-control" placeholder="{{ 'flights.COMMENTS' | translate }}" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label w-100">{{ 'flights.UPLOAD_ITINERARY' | translate }}</label>
                            <input type="file">
                            <small class="form-text text-muted">{{ 'flights.TERMS_OF_SERVICE' | translate }}</small>
                        </div>
                        <div class="mb-3">
                            <label class="form-check m-0">
                              <input type="checkbox" checked class="form-check-input">
                              <span class="form-check-label">{{ 'flights.I_AGREE' | translate }}</span>
                          </label>
                      </div>
                      <button type="submit" class="btn btn-primary" (click)="onSubmitFlightInfo()">{{ 'flights.SUBMIT' | translate }}</button>
                  </form>
              </div>
          </div>
      </div>
    </div>
</div>
